{% extends "learning_logs/base.html" %}
{% load django_bootstrap5%}

{% block content %}


<p>
    <a href ="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>

</p>

<form action = "{% url 'learning_logs:edit_entry' entry.id %}" method = 'post'> <!-- Sends the data back to the view funtion
                                                                                    entry.id tells the view which entry -->
    {% csrf_token %}
    {% bootstrap_form form %} 
        
    <button class="btn btn-secondary btn-sm" type="submit">Save</button>
</form>

{% endblock content %}